* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  overflow-x: hidden;
}
.container {
  width: 1106px;
  margin: 0 auto;
}
/* header start */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.nav {
  background-color: #ffffff;
  border: 2px solid green;
  display: flex;
  justify-content: space-around;
  height: 53px;
}
.nav_brand {
  padding: 5px 0px;
}
.nav_menu .nav_menu--list {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.nav_menu__list-item {
  list-style-type: none;
  padding: 15px;
}
.nav_menu__list_item-link {
  text-decoration: none;
  font-size: 15px;
  color: #797979;
  line-height: 25px;
}
.nav_menu__list_item-link:hover {
  color: #fcb72b;
}
.nav_menu--btn {
  padding: 10px;
}
.nav_menu_btn-submit {
  padding: 6px 18px;
  background-color: #fcb72b;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.nav_menu_btn-submit:hover {
  background-color: #ffffff;
  color: #797979;
}
.nav_menu__btn_submit-link {
  text-decoration: none;
  color: #ffffff;
}
.nav_menu__btn_submit-link:hover {
  color: #797979;
  border: 2px solid #797979;
  padding: 6px 18px;
  border-radius: 4px;
}
/* main start*/
main {
  background-color: #ffffff;
}
.main_section__img {
  width: 100%;
  padding-top: 53px;
  filter: brightness(0.6);
}
.main_section_title {
  position: relative;
  bottom: 140px;
  color: #ffffff;
  font-size: 54px;
  line-height: 54px;
}
.main_section__oval {
  position: relative;
  bottom: 200px;
  left: 85%;
}
.main_section__card {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}
.main_section__card_info--title {
  font-style: bold;
  font-size: 56px;
  line-height: 56px;
  color: #495567;
  position: relative;
  right: 60px;
}
.main_section__card_info--paragraf {
  color: #495567;
  padding-top: 24px;
  font-size: 15px;
  line-height: 27px;
  position: relative;
  right: 60px;
}
.main_section__card_fon--img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  bottom: 70px;
  left: 50px;
}
.main_section__card_info-yumalo {
  position: relative;
  left: 1200px;
  bottom: 500px;
}
.main_section__card_info-strelka {
  position: relative;
  left: 600px;
  bottom: 655px;
}
.main_section__card_info-uch {
  position: relative;
  right: 158px;
  bottom: 705px;
}
.main_section__card_info-yumalo2 {
  position: relative;
  bottom: 480px;
  right: 550px;
}
.main_section__card2_fon--img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.main_section__card2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 900px;
}
.main_section__card2_info--title {
  font-style: bold;
  font-size: 56px;
  line-height: 56px;
  color: #495567;
  position: relative;
  right: 60px;
}
.main_section__card2_info-paragraf {
  color: #495567;
  padding-top: 24px;
  font-size: 15px;
  line-height: 27px;
  position: relative;
  right: 60px;
}
.main_section__card2-strelka {
  position: relative;
  bottom: 1400px;
  right: 300px;
}
.main_section__card2-uch {
  position: relative;
  bottom: 1350px;
  right: 350px;
}
.main_section__card_info-yumalo3 {
  position: relative;
  bottom: 800px;
  right: 1000px;
}
.main_section_saidbar--title {
  text-align: center;
  font-size: 48px;
  color: #495567;
  position: relative;
  bottom: 1100px;
}
.main_section_saidbar-fon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1000px;
}
.main_section_saidbar__fon_info-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  left: 80px;
}

.main_section_saidbar__fon-info-h4 {
  color: #495567;
  font-size: 24px;
  position: relative;
  left: 130px;
  bottom: 20px;
  background-color: #fcb72b;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.main_section_saidbar__fon-info-h4 h4 {
  position: relative;
  left: 35px;
  top: 30px;
}
.main_section_saidbar__fon_info-title {
  color: #495567;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.main_section_saidbar__fon_info-paragraf {
  color: #495567;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  padding: 10px;
}
.main_section_saidbar-faq-title {
  font-size: 48px;
  color: #495567;
  text-align: center;
  position: relative;
  bottom: 850px;
}
.main_section_saidbar__title {
  position: relative;
  bottom: 650px;
  font-size: 48px;
  color: #495567;
}
.main_section_saidbar__card {
  width: 730px;
  height: 191px;
  position: relative;
  bottom: 700px;
  left: 350px;
  margin-bottom: 30px;
}

.main_section_saidbar__card2 {
  position: relative;
  top: 30px;
}
.main_section_saidbar__title2 {
  font-size: 48px;
  color: #495567;
  position: relative;
  right: 350px;
  top: 150px;
}
.main_section_saidbar__card3 {
  width: 730px;
  height: 191px;
  position: relative;
  top: 100px;
  margin-bottom: 30px;
}

.main_section_saidbar__card4 {
  position: relative;
  top: 30px;
}
.main_section_saidbar--yumalo {
  position: relative;
  bottom: 550px;
  right: 850px;
}
/* footer */
footer {
  background-color: #495567;
  width: 100%;
  height: 400px;
  position: relative;
  top: 70px;
}
.footer_card {
  display: flex;
  justify-content: space-evenly;
}

.footer_title {
  padding-top: 102px;
  color: #ffffff;
  font-size: 48px;
  line-height: 48px;
  padding-right: 400px;
}
.footer_submit--btn {
  position: relative;
  top: 122px;
  background-color: #e5ecf4;
  padding: 8px 23px;
  border: #495567;
  border-radius: 4px;
}
.footer_submit__btn--a {
  text-decoration: none;
  color: #495567;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.footer_submit--btn:hover {
  background-color: #fcb72b;
}
.footer_submit__btn--a:hover {
  color: #797979;
}
.footer_card2-doira {
  position: relative;
  left: 350px;
}
.footer_card2-yumalo {
  position: relative;
  left: 400px;
}
.footer_end {
  background-color: #333a44;
  height: 103px;
  position: relative;
  bottom: 65px;
}
.footer_end__images-logo {
  color: #ffffff;
  position: relative;

  top: 40px;
}
.footer_end_item--ul {
  position: relative;
  left: 200px;
  display: flex;
  width: 40%;
  justify-content: space-around;
  top: 15px;
}
.footer_end_item__ul-list {
  list-style-type: none;
  font-size: 15px;
}
.footer_end_item__ul-list--a {
  text-decoration: none;
  color: #939caa;
}
.footer_end_item__ul-list--a:hover {
  color: #fcb72b;
}
.footer_end_icon {
  display: inline;
  position: relative;
  left: 1000px;
  bottom: 20px;
}
.footer_end_icon--facebook {
  text-decoration: none;
}
